.bundle
.env
.env.*
.git
.gitattributes
.gitignore
.github
public/system
public/assets
public/packs
public/packs-test
node_modules
neo4j
vendor/bundle
.DS_Store
*.swp
*~
postgres
postgres14
redis
elasticsearch
chart

# avoiding non-container-image files
depot.json
README.md
.vscode/
Dockerfile*
*compose*.yml
*compose*.yaml
CHANGELOG.md
README.md
